#! /usr/bin/env nix-shell
#! nix-shell -E "(import ./.).devShells.${builtins.currentSystem}.envrc"
#! nix-shell -i sh
files="nix.org"
if hash org-tangle 2> /dev/null; then
    org-tangle $files
else
    chmod +x ./settings/bin/* && ./settings/bin/org-tangle $files || :
fi

files="flake.nix"
for file in files; do
    [ -f "$file" ] && git add "$file" || :
done

nix flake info &> /dev/null && use flake || use nix
